<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav id="navbar">
        <div id="page-title">Mini Message Board</div>
        <div id="options">
            <div id="nav-search" class="nav-link">Search</div>
            <div id="nav-delete" class="nav-link">Delete</div>
            <a id="nav-new" href="/new" class="nav-link">Send a message</a>
        </div>
    </nav>

<%- include("../views/partials/footer"); %>
</body>
</html>