:root{
    --primary: #0247FE;
    --secondary: #DBE5FF;
    --border: #b4b4b4;
    --text-color: #00113D;
    --link-color: #678FFE;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
} 

body{
    background-color: var(--secondary);
}

#navbar{
    display: flex;
    flex-direction: row;
    min-height: 4vh;
    padding: 5px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
}

#page-title{
    font-size: 1.2rem;
    margin: auto 0;
    width: 60%;
}

#options{
    display: flex;
    font-size: 0.8rem;
    justify-content: right;
    gap: 20px;
    margin: auto 0;
    width: 40%;
}

#form-container{
    width: 60%;
    margin: 10vh auto;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 2%;
}

#form-title{
    text-align: center;
    padding: 5px;
}

#message-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#submit-button{
    color: var(--link-color);
    margin: 30px;
    max-width: 60%;
    background-color: var(--secondary);
    padding: 3px;
    border: 1px solid var(--border);
    border-radius: 5%;
}

#submit-button:hover, #submit-button:focus{
    color: var(--text-color);
    cursor: pointer;
}

#message, #username{
    padding: 2px;
    background-color: var(--secondary);
}

#messages-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10vh auto;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
}

.message{
    display: grid;
    padding: 5px;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    "icon username username username . button"
    "icon  text text text text ."
    ". . . . . date";
    background-color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 2px;

}

.message-icon{
    grid-area: icon;
    grid-template: 0.5fr;
    justify-self: center;
    align-self: center;
    border: 0.6rem solid var(--primary);
    background-color: var(--primary);
    border-radius: 100%;
}

.message-username{
    grid-area: username;
    font-weight: bold;
    font-size: 1rem;
}

.message-text{
    grid-area: text;
    font-size: 0.8rem;
}

.message-date{
    grid-area: date;
    text-align: right;
    font-size: 0.5rem;
}

.message-button{
    grid-area: button;
    padding: 2px;
    font-size: 0.7rem;
    text-align: center;
    justify-self: right;
    align-self: center;
    text-decoration: none;
    background-color: var(--primary);
    width: 2rem;
    border: 1px solid var(--border);
    color: var(--link-color);
}

.nav-link{
    color: var(--link-color);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus{
    color: var(--text-color);
    cursor: pointer;
}

#footer{
    position: fixed;
    font-size: 0.6rem;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-color);
    text-align: center;
}

#github-link{
    text-decoration: none;
    font-weight: bold;
}

#singular-message-container{
    width: 60%;
    margin: 10vh auto;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 2%;
}

#error-message{
    position: relative;
    text-align: center;
    margin: auto;
    color: red;
}